.work-box{
    color: white;
    margin-bottom: 10px;
}
.work-box > div[button] {
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.work-toggle{
    background-color: #8294c4;
    padding: 10px 20px;
}

.work-text{
    background-color: #acb1d6;
    padding: 10px 20px
}

.work-text.hide{
    max-height: 0;
    transform: scaleY(0);
}

.work-text.show{
    max-height: 9999px;
    transform: scaleY(1);
}